<!-- Add the Active Quests button -->
<div class="header-wrapper">
  <div  (click)="goBack()">
    <span class="arrow"></span>
<!--    Return back-->
  </div>
    <button class="quests-button" (click)="toggleQuestsModal()">
      Active Quests ({{ (quests$ | async)?.length }})
    </button>
  <div>
    <button (click)="saveGame()">Save Game</button>
    <button (click)="showLoadModal = true">Load Game</button>
    @if(showLoadModal) {
      <app-load-modal (close)="showLoadModal = false"/>
    }
  </div>
    <div class="gold" (click)="showResourcesModal()">
      <span class="gold-coin"></span>
      {{ goldCount$ | async }}
    </div>
</div>
