<div class="change-equipment--wrapper">
  @if (itemsForSlot.length) {
    <div class="items-list">
      @for (item of itemsForSlot; track item.id) {
        <div
          class="item-card"
          (click)="selectItem(item)"
          [class.selected]="(selectedItem?.id || 0) === (item.id || 1)">
          <div class="item-header">
            <h3 class="item-name">{{ item.name }}</h3>
            <span class="item-type">{{ item.slot }}</span>
          </div>

          <div class="item-stats">
            <div>
              <div class="stat-item">
                <span class="stat-label">Health</span>
                <span class="stat-value">{{ item.stats.health }}</span>
              </div>
              <div class="stat-item">
                <span class="stat-label">Strength</span>
                <span class="stat-value">{{ item.stats.strength }}</span>
              </div>
            </div>
            <div>
              <div class="stat-item">
                <span class="stat-label">Agility</span>
                <span class="stat-value">{{ item.stats.agility }}</span>
              </div>
              <div class="stat-item">
                <span class="stat-label">Intellect</span>
                <span class="stat-value">{{ item.stats.intellect }}</span>
              </div>
            </div>
            <div class="stat-item">
              <span class="stat-label">Attack</span>
              <span class="stat-value">{{ item.equipParams.physicalAttack || item.equipParams.magicAttack }}</span>
            </div>
            <div class="stat-item">
              <span class="stat-label">Defense</span>
              <span class="stat-value">{{ item.equipParams.physicalArmor }}</span>
            </div>
            <!--              <div class="stat-item">-->
            <!--                <span class="stat-label">Durability</span>-->
            <!--                <span class="stat-value">{{ item.durability }}/{{ item.maxDurability }}</span>-->
            <!--              </div>-->
          </div>

          <div class="item-meta">
            <div class="meta-item">
              <span>Rarity: {{ item.rarity }}</span>
            </div>
            <!--              <div class="meta-item">-->
            <!--                <span>Required Level: {{ item.requiredLevel }}</span>-->
            <!--              </div>-->
          </div>

          <div class="item-effects">
            <!--              @for (effect of item.specialEffects; track effect) {-->
            <!--                <div class="effect-item">-->
            <!--                  {{ effect }}-->
            <!--                </div>-->
            <!--              }-->
<!--            // TODO add special Effects-->
          </div>
        </div>
      }
    </div>
  }

  <div class="dialog-actions">
    <button (click)="onConfirm()" [disabled]="!selectedItem">Confirm</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</div>
