<div class="resources-modal-content">
  <div class="modal-header">
    <h2>Resources</h2>
    <button class="close-button" mat-dialog-close>x</button>
  </div>

  <div class="resources-list">
    <div class="resource-item">
      <span class="gold-coin"></span>
      Gold: {{ data.gold }}
    </div>
    <div class="resource-item">
      Food Bags: {{ data.materials.foodBags }}
    </div>
    <div class="resource-item">
      Wooden Boards: {{ data.materials.woodenBoards }}
    </div>
    <div class="resource-item">
      Stone Blocks: {{ data.materials.stoneBlocks }}
    </div>
  </div>
</div>
