@if (character$ | async; as character) {
  <div class="combatant-wrapper"
       [class.crit-strike]="character?.activeActionStatus?.isCriticalDamaged"
       [class.evasion]="character?.activeActionStatus?.isEvaded"
       [class.healing]="character?.activeActionStatus?.isHeal"
       [class.active-turn]="(isActiveTurn$ | async) ?? false"
       [class.moving]="character.currentAction === 'move'"
       [class.dead]="character.currentHealth <= 0"
       [class.taking-damage]="(character?.activeActionStatus?.isTakingDamage && !character?.activeActionStatus?.isCriticalDamaged)"
       [class.action-completed]="character?.isActionCompleted">

    <div class="effect-numbers">
      @if(damage$ | async; as damage) {
        <div class="damage-number">{{ damage }}</div>
      }
      @if(heal$ | async; as heal) {
        <div class="heal-number">{{ heal }}</div>
      }
    </div>

    <div class="combatant">
      <div class="avatar" [class.hit-effect]="character?.activeActionStatus?.isTakingDamage">
        <img [ngSrc]="character.icon" class="character-icon" alt="avatar" fill>

        <div class="health-bar">
          <div class="health" [style.width.%]="getHealthPercentage(character)"></div>
        </div>

        @if (isManaUser(character)) {
          <div class="mana-bar">
            <div class="mana" [style.width.%]="getManaPercentage(character)"></div>
          </div>
        }
      </div>
    </div>
  </div>
}
